@model AppLogin.ViewModels.UserVM;
@{
Layout= null;
}

<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="row mt-5 justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-header">
                    Registrate
                </div>
                <div class="card-body">
                    <form asp-controller="Access" asp-action="Index" method="post">
                        <div class="mb-3">
                            <input class="form-control" asp-for="Name" placeholder="Name" oninput="this.value = this.value.toUpperCase();" />
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" asp-for="Email" placeholder="Email" />
                            <span class="text-danger" asp-validation-for="Email"></span>
                        </div>
                        <div class="mb-3">
                            <input class="form-control" type="password" asp-for="Password" placeholder="Password" />
                            <span class="text-danger" asp-validation-for="Password"></span>
                        </div>
                        <input class="form-control mb-3" type="password" placeholder="Confirm Password" asp-for="ConfirmPassword" />
                        <div class="d-grid gap-2 mb-3">
                            <button class="btn btn-primary" type="submit"> Registrate </button>
                        </div>
                        @if (ViewData["Mensaje"] != null)
                        {
                            <div class="alert alert-danger" role="alert">
                                @ViewData["Mensaje"]
                            </div>
                        }
                        ¿Ya tienes una cuenta?<a asp-controller="Access" asp-action="login">Iniciar Sesion</a>

                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap//dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>